#nav a{ color:#66545e;font-weight: 900;font-size: 20px;}
#nav a:hover{color:#a39193;}
#nav ul{list-style-type:none; }
#nav li{display:inline;font-weight:bold; }
#nav {background-color:#eea990;padding:30px 50px 20px 70px;}
.IMAGE{height: 50px; padding-left: 20px;}
.pexel{height: 600px; width: 1500px; padding-top: 2px;padding-left: 30px;padding-right: 25px;}
.black {background-color: #f6e0b5;}
.live { margin-top: 90px;text-align: center;font-size: 30px;color: #66545e;margin-right: 20px;}
.push{color:#aa6f73 ;font-weight: bolder;}
.was{color: #66545e;margin-top: 10px;text-align: center;font-size: 20px;margin-bottom: 80px;}
.ton{position: relative;text-align: center;  color: white;font-size: 90px;font-weight: 900px;font-family:Berlin Sans FB Dem;}
.centered {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.parent {position: relative;padding-top: 90px;}
.parent .image1 { background-color: #eea990;     width: 50.33333vw;height: 58.33333vw;left: 41.66667vw;}
.image1{position: absolute;top: 0;z-index: 0;}
.parent .image2{width: 41.66667vw;height: 41.66667vw;margin-left: 8.33333vw;}
.image2{display: inline-block;vertical-align: middle;position: relative;z-index: 1;}
.parent .image3{    width: 33.33333vw;height: 25vw;margin-left: 8.33333vw;}
.image3{display: inline-block;vertical-align: middle;position: relative;z-index: 1;}
.parents {position: relative;padding-top: 90px;}
.parents .image4 { background-color: #eea990; width: 66.33333vw;height: 68.33333vw;right: 37.99999vw;}
.image4{position: absolute;top: 0;z-index: 0;}
.parents .image5{width: 35.66667vw;height: 26.66667vw;margin-left: 8.33333vw;margin-top: -400px;}
.image5{display: inline-block;vertical-align: middle;position: relative;z-index: 1;}
.parents .image6{width: 33.33333vw;height: 50vw;margin-left: 10.33333vw;padding-top: 150px;}
.image6{display: inline-block;vertical-align: middle;position: relative;z-index: 1;}
.parents .image7{width: 35.66667vw;height: 26.66667vw;margin-left: 8.33333vw;margin-top: -300px;}
.image7{display: inline-block;vertical-align: middle;position: relative;z-index: 1;}
.pexels{height: 550px; width: 1450px; padding-top: 2px;padding-left: 100px;padding-right: 30px;margin-bottom: 60px;}
.parentss {position: relative;padding-top: 90px;margin-bottom: -350px;}
.parentss .image8 { background-color: #eea990; width: 66.66667vw;height: 58.33333vw;left: 16.66667vw;}
.image8{position: absolute;top: 0;z-index: 0;}
.parentss .image9{width: 33.33333vw;height: 25vw;margin-left: 8.33333vw;}
.image9{display: inline-block;vertical-align: middle;position: relative;z-index: 1;margin-top: 150px;}
.parentss .image10{ width: 41.66667vw;height: 41.66667vw;margin-left: 56.39967vw;top: -500px;}
.image10{display: inline-block;vertical-align: middle;position: relative;z-index: 1;}   
.image11{width: 100%;height: 25vw;}
.image12{background-color: #eea990;width: 100%;height: 25vw;margin-left: -23.7px;}
.pushed {color:#66545e;font-size: 1.25rem;line-height: 1.5;font-weight: bold;text-align: center;padding: 140px 35px 0px 35px;}
.flip-box {background-color: transparent;width: 100%;height: 25vw;border: 1px solid #f1f1f1;perspective: 1000px;  }
  .flip-box-inner { position: relative;width: 100%;height: 25vw;text-align: center;transition: transform 0.8s;transform-style: preserve-3d;}
  .flip-box:hover .flip-box-inner { transform: rotateY(180deg);}
  .flip-box-front, .flip-box-back {position: absolute;width: 100%;height: 100%;-webkit-backface-visibility: hidden; backface-visibility: hidden;}
  .flip-box-front {background-color: #bbb;color: black; }
  .flip-box-back {background-color: #66545e;color: #eea990;transform: rotateY(180deg); }
  .te{ padding: 165px 35px 0px 35px;}
  .latest a{color:#66545e;font-weight: 900;font-size: 20px; text-align: center}
  .latest a:hover{ color:#a39193;}
  .to{color:#66545e;font-weight: 900;font-size: 60px;}
  .event a{color:#aa6f73;font-family: montserrat,Sans-serif;font-size: 16px;font-weight: bold;line-height: 0px;margin-left: -20px;}
.event a:hover{color:#a39193;}
.ai {color:#eea990; background:white;padding:10px; }
.ai:hover{color:white;background:#fb4e4e;}
.gories {font-family: montserrat,Sans-serif;font-size: 22px;font-weight: 700;line-height: 34px;color:#66545e;margin-top:40px;margin-bottom:10px;}
.grey{color:#aa6f73;font-size: 16px;font-weight: 500;}
.envel {color:MediumSeaGreen;background-color:#09573a;border:0;font-size:27px;}
.iope {background-color:#09573a;border:0;}
.pay {height: 40px;max-width: 100%;padding-right: 0px;}
.theme {font-size: 18px;font-weight: 500;display: flex;margin-top: 15px;}
.theme a{color:#66545e;}
.theme a:hover{color: #aa6f73;}
.lali{color:#aa6f73;font-size: 12px;font-weight: 500;margin-top: 25px;}
.containers{width: 92%;margin-left: auto; margin-right: auto;}
.box{ width: 30%;float: left;background-color: #fff;border-radius: 5px;box-shadow: 0px 7px 7px grey; margin: 40px 20px;}
.box img{ width: 100%; height: 200px; border-radius: 5px 5px 0 0;}
.box h3{margin-left: 16px;}
.box p{font-size: 16px; line-height: 28px;height: 40%; padding: 0 15px 15px 15px;overflow: hidden;}
#btns{background-color: teal;color: white;padding: 10px 15px;margin: 15px;border-radius: 5px;float: right;}
#btns:hover{background-color: black;box-shadow: 0 5px 5px rgba(0,0,0,0.2);}
.to-do{width: 100%;min-height: 50vh;background: linear-gradient(135deg, #eea990, #66545e);padding: 10px;margin-top: -10px;}
.to-doapp{width: 100%; max-width: 540px;background: #fff;margin: 100px auto 20px;padding: 40px 30px 70px;border-radius: 10px;}
.to-doapp h2{color: #a39193;display: flex;align-items: center;margin-bottom: 20px;}
.to-doapp h2 i{width: 30px; margin-left: 10px;}
.todo-row{display: flex;align-items: center;justify-content: space-between;background: #eea990;border-radius: 30px;padding-left: 20px;margin-bottom: 25px;}
.todo-row input{flex: 1;border: none;outline: none;background: transparent;padding: 10px;}
.todo-row button{border: none;outline: none;padding: 16px 50px;background: #66545e;color: #eea990;font-size: 16px;cursor: pointer;border-radius: 40px;}
#list-container li{list-style: none;font-size: 17px; padding: 12px 8px 12px 50px;user-select: none;cursor: pointer;position: relative;}
#list-container li::before{content: '';position: absolute;height: 28px;width: 28px;border-radius: 50%;background-image: url(unchecked.png);background-size: cover;background-position: center;top: 12px;left: 8px;}
#list-container li.checked{color: #66545e;text-decoration: line-through;}
#list-container li.checked::before{background-image: url(checked.png);}
#list-container li span{position: absolute;right: 0;top: 5px;width: 40px;height: 40px;font-size: 22px;color: #66545e;line-height: 40px;text-align: center;border-radius: 50%;}
#list-container li span:hover{background: #66545e;color: white;}
.calc{justify-content: center;align-items: center;width: fit-content;margin: auto;}
.calculator{border: 1px solid #66545e; padding: 20px;border-radius: 16px;background: transparent;box-shadow: 0px 3px 15px rgba(43, 12, 44, 0.5);}
.calculator input{width: 320px;border: none;padding: 24px;margin: 10px;background: transparent;box-shadow: 0px 3px 15px rgba(26, 16, 27, 0.5);font-size: 40px;text-align: right;cursor: pointer;color: #eea990;}
.calculator input::placeholder{color: wheat;}
.calculator button{border: none;width: 60px;height: 60px;margin: 10px;border-radius: 50%;background: transparent;color: wheat;font-size: 20px;box-shadow: -8px -8px 15px rgba(26, 26, 26, 0.2);cursor: pointer;}
#equalbtns{background-color: #cb443a;}
#oper{color: rgba(18, 1, 19, 0.5);font-weight: bolder;}